<a href="https://github.com/shurikk/bttrack" class='github' target='blank'>GitHub</a>
<header>
  <a href="/">bttrack</a> – <%= VERSION %>
</header>
<table>
  <thead>
    <tr>
      <th>Torrents (<%= @torrents.count %>)</th>
      <th class="seed">Seed</th>
      <th class="leech">Leech</th>
    </tr>
  </thead>
  <tbody>
    <% @torrents.each do |torrent| %>
      <tr>
        <td>
          <code><a href="/<%= torrent.pretty_hash %>">
            <%= torrent.pretty_hash %>
          </a></code>
        </td>
        <td class="seed">
          <%= torrent.stats[:complete] %>
        </id>
        <td class="leech">
          <%= torrent.stats[:incomplete] %>
        </id>
      </tr>
    <% end %>
  </tbody>
</table>
